* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}


/* First-section 
---------------------------------------------*/

.first-section {
    height: 100vh;
}

#nav-section {
    width: 80%;
    margin: 8px auto;
    display: flex;
    justify-content: space-between;
    font-size: 'Manrope';
}

#nav-section h1 {
    color: #1E1B1B;
    margin-right: 500px;
}

#nav-section .nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    font-size: 12px;
}

#nav-section .nav-bar li {
    list-style: none;
    font-size: 10px;
    color: #1E1B1B;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.vertical-border {
    border: 1px solid #939191;
    height: 20px;
    opacity: 0.6;
}

.road-assistance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -12px;
}

.road-assistance p {
    font-size: 12px;
}

#first-hero-section {
    width: 70%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.left-img-section h1 {
    width: 80%;
    margin-top: 80PX;
}

.text-hero-section {
    background-color: #1E1B1B;
    color: #fff;
    padding: 100px;
}

.text-hero-section p {
    font-size: 12px;
    width: 100%;
    margin: 14px 0;
}

.booking-btn {
    background-color: #FF6433;
    color: #fff;
    padding: 8px 16px;
    margin: 18px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}


/* Second Page Section
----------------------------------------------*/


/* #second-section-bg {
    background-color: #E2E6E9;
}

#second-section {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-side-second-heading h1 {
    width: 60%;
    margin-top: 100px;
}

.paragraph-section span {
    font-size: 10px;
    color: #1E1B1B;
    opacity: 0.6;
    font-weight: 600;
    line-height: 16px;
}

.paragraph-section {
    width: 40%;
    margin-right: 330px;
    gap: 24px;
}

.secondpage-service {
    display: flex;
    justify-content: space-between;
}

.services-page {
    margin-top: 30px;
}

#expert-mechanics {
    margin-top: 20px;
}

#transparent-pricing {
    margin-top: 20px;
}

.right-side-heading h3 {
    font-size: 30px;
    width: 100%;
    margin-top: 100px;
}

.holder-text {
    display: block;
    width: 100%;
    height: 6%;
    padding: 20px;
    border-style: none;
    margin: 4px 0;
    font-weight: 600;
    opacity: 0.4;
}

.holder-text:focus {
    outline: none;
    border-color: #FF6433;
    box-shadow: 0 0 5px #FF6433;
}

.secondpage-btn {
    background-color: #FF6433;
    color: #fff;
    padding: 8px 16px;
    margin: 18px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}
 */


/* Third Section 
---------------------------------------------*/


/* .hero-section {
    width: 80%;
    margin: 50px auto;
    padding-left: 100px;
    display: flex;
    justify-content: end;
    min-height: 50vh;
}

.section-a {
    width: 55%;
}

.hero-section-a h2 {
    width: 70%;
    font-weight: 800;
    font-size: 30px;
}

.hero-section-a p {
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
    color: #1E1B1B;
    opacity: 0.6;
    width: 60%;
}

.hero-section-a {
    margin-top: 30px;
}

.second-paragraph {
    width: 50%;
    margin-top: 12px;
    margin-left: -20px;
}

.circle-paragraph {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.hero-side-section {
    margin-left: 80px;
}

.hero-sectionb-p {
    font-size: 12px;
    font-weight: 600;
    color: #1E1B1B;
    opacity: 0.6;
}

.line-circle {
    padding-bottom: 8px;
    margin-left: 20px;
} */


/* Offer-Section 
-------------------------------------------*/

#auto-bg-section {
    background-color: #F5F5F5;
}


/* In touch-Section 
---------------------------------------*/

.intouch-section {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.rectangle {
    background-color: #FF6433;
    min-width: 300px;
    height: 502px;
    position: relative;
}

.rectangle h3 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 8px;
    padding: 0 40px;
    color: #fff;
}

.vehicle img {
    width: 120%;
    height: 502px;
}

.tools img {
    width: 100%;
    height: 502px;
}

.forth-section {
    min-width: 60%;
    padding: 30px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.forth-section h1 {
    font-size: 36px;
    color: #661CE7;
}

.forth-section p {
    font-weight: 400;
    opacity: 0.6;
}


/* Brand-Section 
-------------------------------------*/

.brand-heading {
    display: flex;
    justify-content: center;
    margin: 94px 0;
}

.brand-section {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.last-section {
    min-height: 70vh;
}


/* Testimonial-Section 
---------------------------------------*/

.testimonial-container {
    background-color: #F2F2F2;
    min-width: 100vh;
    min-height: 80vh;
}

.content-testimonial {
    width: 30%;
    background-color: #fff;
    padding: 40px 20px;
}

.testimonial-firstp {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 34px 0;
    font-size: 26px;
    font-weight: 700;
}

.testimonial-box {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.content-testimonial h3 {
    font-size: 12px;
    margin-top: 14px;
}

.content-testimonial p {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    margin-top: 14px;
}

.img-p span {
    opacity: 0.6;
}

.img-p {
    display: flex;
    gap: 10px;
}

.border-line {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.hr1 {
    border: 1px solid #939393;
    width: 20px;
}

.hr2 {
    border: 1px solid #939393;
    width: 20px;
}

.hr3 {
    border: 1px solid #FF6433;
    width: 20px;
}

.hr4 {
    border: 1px solid #939393;
    width: 20px;
}


/* Faq-Section 
---------------------------------*/

.testimonial-arrow {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: -34px;
    margin-left: 42px;
}

.left-arrow img {
    margin-left: 24px;
    cursor: pointer;
}

.right-arrow {
    cursor: pointer;
}

.faq-section {
    background-color: #E2E6E9;
    /* font-size: 14px; */
}

.faq-subsection {
    width: 100vh;
    margin: 0 auto;
}

.faq-heading {
    font-size: 20px;
    text-align: center;
    padding: 60px 0;
}

.faq-allboxes {
    display: grid;
    grid-gap: 14px;
    padding-bottom: 40px;
}

.faq-firstbox {
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.firstbox-pimg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.first-p {
    color: #1E1B1B;
    font-size: 14px;
    font-weight: 600;
}

.second-p {
    font-size: 14px;
    font-weight: 550;
    opacity: 0.6;
    text-align: justify;
}

.faq-secondbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-thirdbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-forthbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-fifthbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.square-box {
    background-color: #FF6433;
    color: #fff;
    width: 6%;
    height: 40%;
    text-align: center;
    cursor: pointer;
}

.square-box2 {
    background-color: #FF6433;
    color: #fff;
    width: 6%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}


/* Contact-us Section
-------------------------------------- */

.contactus-section {
    background-color: rgb(29, 27, 27, 0.9);
}

.contactus-subsection {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.leftside h2 {
    color: #fff;
    width: 60%;
}

.socialmedia-icons {
    padding-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.facebook-icon {
    cursor: pointer;
}

.twitter-icon {
    cursor: pointer;
}

.instagram-icon {
    cursor: pointer;
}

.linkedin-icon {
    cursor: pointer;
}

.rightside-p {
    color: #fff;
    line-height: 32px;
}

.p-opacity {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}


/* Footer 
---------------------------*/

.main-footer {
    background-color: #1E1B1B;
}

.main-subfooter {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    color: #fff;
    cursor: pointer;
}

.section-location {
    color: #fff;
}

.section-location ul {
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.home {
    cursor: pointer;
}

.about-us {
    cursor: pointer;
}

.services {
    cursor: pointer;
}

.blog {
    cursor: pointer;
}

.contact-us {
    cursor: pointer;
}

.copyright {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    opacity: 0.6;
}