* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
}


/* First-section 
---------------------------------------------*/

header {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.main__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
}

.nav-bar ul li a:hover {
    background-color: rgb(255, 100, 51, 0.8);
    border-radius: 4px;
    padding: 12px 4px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #1E1B1B;
}

.road-assistance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -12px;
    gap: 8px;
}

.road-assistance p {
    font-size: 12px;
    padding: 10px 0;
}

#first-hero-section {
    width: 70%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.left-img-section h1 {
    width: 80%;
    margin-top: 80PX;
}

.text-hero-section {
    background-color: #1E1B1B;
    color: #fff;
    padding: 100px;
}

.text-hero-section p {
    font-size: 12px;
    width: 100%;
    margin: 14px 0;
    line-height: 20px;
}

.booking-btn {
    background-color: #FF6433;
    color: #fff;
    padding: 8px 16px;
    margin: 18px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.booking-btn:hover {
    background-color: rgb(255, 100, 51, 0.8);
}


/* Auto Diagnostics Section 
-------------------------------------------*/

#auto-bg-section {
    background-color: #F5F5F5;
    height: 100vh;
}

.auto-main-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 200px;
}

.auto-left-section {
    background-color: #fff;
    width: 40%;
    /* height: 40%; */
    margin-top: 100px;
    padding: 50px;
}

.auto-paragraph {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    line-height: 20px;
    margin-top: 12px;
}

.last-p p {
    font-size: 10px;
}

.last-p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-top: 12px;
}

#service-details {
    cursor: pointer;
}

.box {
    text-align: center;
    background-color: #fff;
    width: 40%;
    height: 30%;
    padding: 54px 0;
}

.box p {
    font-size: 10px;
}

#offer-boxes {
    margin-top: 100px;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 24px;
}

.box:hover {
    background-color: #FF6433;
}

.auto-left-section h3 {
    margin-top: 14px;
}


/* Knowhow Page Section
----------------------------------------------*/

#knowhow-main-section1 {
    width: 70%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.knowhow-topleft-section h1 {
    width: 70%;
}

.checkmark {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.checkmark p {
    width: 50%;
}

.checkmark-img {
    width: 5%;
    height: 20%;
}

.knowhow-topright {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#knowhow-main-section2 {
    width: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.knowhow-bottomleft {
    width: 70%;
}

.knowhow-bottomleft {
    width: 150%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.knowhow-bottom-right h1 {
    width: 70%;
    margin-left: 220px;
    line-height: 40px;
}

.knowhow-bottom-right p {
    font-weight: 600;
    font-size: 10px;
    opacity: 0.6;
    width: 60%;
    margin-left: 220px;
    margin-top: 12px;
    line-height: 20px;
}

.knowhow-bottom-right button {
    margin-left: 220px;
    margin-top: 12px;
    background-color: #FF6433;
    color: #fff;
    padding: 8px 16px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.knowhow-bottom-right button:hover {
    background-color: rgb(255, 100, 51, 0.8);
}

.knowhow-bottomleft img {
    width: 40%;
    height: 90%;
}


/* In touch-Section 
---------------------------------------*/

.intouch-section {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.rectangle {
    background-color: #FF6433;
    min-width: 300px;
    height: 502px;
    position: relative;
}

.rectangle h3 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 8px;
    padding: 0 40px;
    color: #fff;
}

.vehicle img {
    width: 120%;
    height: 502px;
}

.tools img {
    width: 100%;
    height: 502px;
}

.forth-section {
    min-width: 60%;
    padding: 30px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.forth-section h1 {
    font-size: 36px;
    color: #661CE7;
}

.forth-section p {
    font-weight: 400;
    opacity: 0.6;
}


/* Contact-us Section
-------------------------------------- */

.contactus-section {
    background-color: rgb(29, 27, 27, 0.9);
}

.contactus-subsection {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.leftside h2 {
    color: #fff;
    width: 60%;
}

.socialmedia-icons {
    padding-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.facebook-icon {
    cursor: pointer;
}

.twitter-icon {
    cursor: pointer;
}

.instagram-icon {
    cursor: pointer;
}

.linkedin-icon {
    cursor: pointer;
}

.rightside-p {
    color: #fff;
    line-height: 32px;
}

.p-opacity {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}


/* Footer 
---------------------------*/

.main-footer {
    background-color: #1E1B1B;
}

.main-subfooter {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    color: #fff;
    cursor: pointer;
}

.section-location {
    color: #fff;
}

.section-location ul {
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.section-location ul li {
    margin: 12px 0;
    padding: 12px;
}

.section-location a {
    text-decoration: none;
    color: #F2F2F2;
}

.section-location a:focus {
    color: #FF6433;
}

.section-location li:hover {
    background-color: rgb(255, 100, 51, 0.8);
    border-radius: 4px;
    transition: 0.5s;
}

.home {
    cursor: pointer;
}

.about-us {
    cursor: pointer;
}

.services {
    cursor: pointer;
}

.blog {
    cursor: pointer;
}

.contact-us {
    cursor: pointer;
}

.copyright {
    margin: 10px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    opacity: 0.6;
    margin: 20px 0;
}