* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}


/* Hero-Section 
---------------------------------------------*/

.first-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.hero-section {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
}

.section-a {
    width: 350px;
}

.hero-section-a h1 {
    font-size: 28px;
}

.section-a p {
    font-size: 12px;
    line-height: 20px;
}

.section-b h3 {
    font-size: 24px;
    width: 350px;
}

.section-b p {
    width: 290px;
}

.section-b {
    margin-right: 150px;
}

.hero-side-section {
    display: flex;
    justify-content: end;
}

.circle {
    display: flex;
    justify-content: start;
    background-color: #661CE7;
    border-radius: 50%;
    margin-top: 4px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.circle-content {
    color: #fff;
    padding: 20px;
    font-size: 12px;
}

.v1 {
    border-left: 4px dotted #FF6433;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 670px;
    margin-top: 4px;
}

.hero-sectionb-p {
    margin-left: 70px;
    margin-top: -10px;
    font-weight: 600;
    line-height: 24px;
    opacity: 0.6;
    font-size: 16px;
}

.hero-side-section h3 {
    margin-left: 18px;
    margin-top: 12px;
}


/* Offer-Section 
-------------------------------------------*/

.offer-section {
    background-color: #F2F2F2;
    min-width: 100vh;
    margin: 0 auto;
    min-height: 100vh;
}

.offer-section p {
    font-size: 20px;
    font-weight: 400;
    padding-top: 48px;
}

.offer-section h1 {
    font-size: 42px;
}

.offer-text {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#offer-boxes {
    width: 70%;
    margin: 10px auto;
    display: flex;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box {
    display: inline-block;
    background-color: #fff;
    width: 30vh;
    height: 232px;
    padding-top: 50px;
}

.box p {
    margin-top: -24px;
    line-height: 44px;
}

#wheel-repair {
    background-color: #FF6433;
}

.last-p p {
    font-size: 14px;
    font-weight: 600;
    margin: 12px 2px 30px 4px;
}

.last-p {
    margin-left: 580px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}


/* In touch-Section 
---------------------------------------*/

.intouch-section {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}

.rectangle {
    background-color: #FF6433;
    min-width: 300px;
    height: 502px;
    position: relative;
}

.rectangle h3 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 8px;
    padding: 0 40px;
    color: #fff;
}

.vehicle img {
    width: 120%;
    height: 502px;
}

.tools img {
    width: 100%;
    height: 502px;
}

.forth-section {
    min-width: 60%;
    padding: 30px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.forth-section h1 {
    font-size: 36px;
    color: #661CE7;
}

.forth-section p {
    font-weight: 400;
    opacity: 0.6;
}


/* Brand-Section 
-------------------------------------*/

.brand-heading {
    display: flex;
    justify-content: center;
    margin: 94px 0;
}

.brand-section {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.last-section {
    min-height: 70vh;
}

.brand-section img {
    float: left
}

.brand-section p {
    float: right;
}

.brand-section p {
    vertical-align: baseline;
}

.logoip {
    margin-top: 10px;
    margin-left: 8px;
}


/* Testimonial-Section 
---------------------------------------*/

.testimonial-container {
    background-color: #F2F2F2;
    min-width: 100vh;
    min-height: 80vh;
}

.content-testimonial {
    width: 30%;
    background-color: #fff;
    padding: 40px 20px;
}

.testimonial-firstp {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 34px 0;
    font-size: 26px;
    font-weight: 700;
}

.testimonial-box {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.content-testimonial h3 {
    font-size: 12px;
    margin-top: 14px;
}

.content-testimonial p {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    margin-top: 14px;
}

.img-p span {
    opacity: 0.6;
}

.img-p {
    display: flex;
    gap: 10px;
}

.border-line {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.hr1 {
    border: 1px solid #939393;
    width: 20px;
}

.hr2 {
    border: 1px solid #939393;
    width: 20px;
}

.hr3 {
    border: 1px solid #FF6433;
    width: 20px;
}

.hr4 {
    border: 1px solid #939393;
    width: 20px;
}


/* Faq-Section 
---------------------------------*/

.testimonial-arrow {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: -34px;
    margin-left: 42px;
}

.left-arrow img {
    margin-left: 24px;
    cursor: pointer;
}

.right-arrow {
    cursor: pointer;
}

.faq-section {
    background-color: #E2E6E9;
    /* font-size: 14px; */
}

.faq-subsection {
    width: 100vh;
    margin: 0 auto;
}

.faq-heading {
    font-size: 20px;
    text-align: center;
    padding: 60px 0;
}

.faq-allboxes {
    display: grid;
    grid-gap: 14px;
    padding-bottom: 40px;
}

.faq-firstbox {
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.firstbox-pimg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.first-p {
    color: #1E1B1B;
    font-size: 14px;
    font-weight: 600;
}

.second-p {
    font-size: 14px;
    font-weight: 550;
    opacity: 0.6;
    text-align: justify;
}

.faq-secondbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-thirdbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-forthbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-fifthbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.faq-section img {
    cursor: pointer;
}


/* Contact-us Section
-------------------------------------- */

.contactus-section {
    background-color: rgb(29, 27, 27, 0.9);
}

.contactus-subsection {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.leftside h2 {
    color: #fff;
    width: 60%;
}

.socialmedia-icons {
    padding-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.facebook-icon {
    cursor: pointer;
}

.twitter-icon {
    cursor: pointer;
}

.instagram-icon {
    cursor: pointer;
}

.linkedin-icon {
    cursor: pointer;
}

.rightside-p {
    color: #fff;
    line-height: 32px;
}

.p-opacity {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}


/* Footer 
---------------------------*/

.main-footer {
    background-color: #1E1B1B;
}

.main-subfooter {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    color: #fff;
    cursor: pointer;
}

.section-location {
    color: #fff;
}

.section-location ul {
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.home {
    cursor: pointer;
}

.about-us {
    cursor: pointer;
}

.services {
    cursor: pointer;
}

.blog {
    cursor: pointer;
}

.contact-us {
    cursor: pointer;
}

.copyright {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    opacity: 0.6;
}